@import './variables.scss';

.datasetPage {
    section {
        margin-top: 1em;
        // border: 1px solid #ddd;
    }
}

.searchBox {
    margin-bottom: 1em;
}

.card {
    margin-bottom: 1em;
}

.cardTitle {
    font-family: $font-family-heading;
    font-weight: 600;

    a {
        // color: inherit !important;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

.publisherDescription {
    margin-bottom: 0;
    padding-bottom: 0;
    color: $text-muted;
}

.tableHeader {
    width: 15%;
    white-space: nowrap;
    padding-left: 0 !important;
}

.downloadTable {
    td {
        vertical-align: middle;
    }
}

.apiTable {

    td,
    th {
        padding-left: 0;
        padding-right: 0;
        vertical-align: middle;
    }
}

.noWrap {
    white-space: nowrap;
}

.item {
    margin-bottom: 0.5em;
}

.itemHeader {
    font-weight: bold;
    font-size: 1.1em;
    // color: inherit !important;
    display: block;
    text-decoration: none;
}

.itemDetails,
.itemSummary {
    @include clearfix;

    margin: 0;
}

.itemDetails {
    padding-bottom: 0;
    margin-bottom: 0;
}

.itemSummary {
    color: $text-muted;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.itemTargets {
    float: right;
}