/* Bootstrap overrides */
@import "./variables.scss";
// $theme-colors: (
//     "primary": $primary,
//     "secondary": $highlight
// );

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/scss/stackoverflow-light";

html {
    scroll-behavior: auto !important;
    font-size: $default-font-size;
    color: $default-text-color;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    color: #111;

    .badge {
        font-size: 0.6em;
        float: right;
    }
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: $default-font-size * 2;
}

h2 {
    font-size: $default-font-size * 1.5;
    margin-top: 1em;
}

h3 {
    font-size: $default-font-size * 1.4;
    margin-top: 1.1em;
}

a {
    text-decoration: none;
}

blockquote {
    // color: $text-muted;
    display: block;
    padding-left: 0.8em;
    border-left: 0.2em solid $gray-300;
}

td.numeric,
th.numeric {
    text-align: right;
}

td.narrow,
th.narrow {
    width: 1%;
}

.table> :not(:first-child) {
    border-top: 1px;
}

.nav-item .nav-item {
    margin-left: 1.5em;
}

.badge.bg-light {
    color: $text-muted;
}

.card-group {
    margin-bottom: 1em;

    &.actions {
        .card-title {
            margin-bottom: 1em;
        }
    }

    &.pricing {
        .card-title {
            text-align: center;
            font-weight: 700;
        }

        .badge {
            margin-top: 1em;
            margin-bottom: 1em;

            .num {
                font-size: 1.4em;
            }
        }

        .card-footer {
            text-align: center;

            .bsIcon {
                margin-right: 0.3em;
            }

            .btn {
                font-weight: 400;

                &.btn-primary,
                &.btn-secondary {
                    color: white;
                }
            }

            .buy-now {
                font-size: 0.8em;
                margin-top: 0.5em;

                a {
                    color: white;
                }
            }
        }

    }

}


.bsIcon {
    // color: red !important;
    margin-top: -0.2em;
    // margin-right: 0.2em;
}

.text-body {
    max-width: $max-text-width;
    line-height: 1.4;

    // a {
    //     // color: $default-text-color;
    //     text-decoration: none;
    // }

    li {
        line-height: 1.4;
        padding-bottom: 0.2em;
    }
}

.vertical-center {
    td {
        vertical-align: middle;
    }
}

.article-image {
    margin-bottom: 1em;
}

.img-caption {
    color: $text-muted;
    font-size: 0.9em;
    margin-top: 0.4em;
}

// youtube embeds full-width:
.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// modals
.modal-wide {
    width: 80%;
    max-width: 80%;
}

.modal-header {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0.6em;
}

// errors
.errorTitle {
    text-align: center;
}

.errorSummary {
    text-align: center;
    color: $text-muted;
}


// entity tables
.type-date {
    width: 6em;
}

.type-country,
.type-identifier {
    width: 6em;
}

.contains-inner-table {
    padding: 0 !important;
}

.inner-table {
    margin: 0;

    tr:last-child td,
    tr:last-child th {
        border-bottom: 0px !important;
    }
}