/* Bootstrap overrides */
@import "./variables.scss";
// $theme-colors: (
//     "primary": $primary,
//     "secondary": $highlight
// );

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/scss/stackoverflow-light";

html {
    // scroll-behavior: auto !important;
    scroll-behavior: smooth;
    font-size: $default-font-size;
    color: $default-text-color;
}

h1,
h2,
h3,
h4 {
    @include heading-font;
    color: $gray-800;

    .badge {
        font-size: 0.6em;
        float: right;
    }
}

h5 {
    margin-top: 1em;
    font-size: 1.1em;

    &.card-title {
        margin-top: 0;
    }
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: $default-font-size * 2;
}

h2 {
    font-size: $default-font-size * 1.5;
    margin-top: 1em;
}

h3 {
    font-size: $default-font-size * 1.4;
    margin-top: 1.1em;
}

a {
    text-decoration: none;
}

blockquote {
    // color: $text-muted;
    display: block;
    padding-left: 0.8em;
    border-left: 0.2em solid $gray-300;
}

td.numeric,
th.numeric {
    text-align: right;
}

td.narrow,
th.narrow {
    width: 1%;
}

.table> :not(:first-child) {
    border-top: 1px;
}

.nav-item .nav-item {
    margin-left: 1.5em;
}

.badge.bg-light {
    color: $text-muted;
}

.btn {
    font-weight: 700;
    text-decoration: none;

    &.btn-secondary {
        color: $green-800;

        &:hover {
            background-color: $green-500;
            border-color: $green-500;
        }
    }
}

.card-group {
    margin-bottom: 1em;

    // &.actions {
    //     .card-title {
    //         margin-bottom: 1em;
    //     }
    // }

    .card-body {
        a {
            color: $white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}


.bsIcon {
    // color: red !important;
    margin-top: -0.2em;
    // margin-right: 0.2em;
}

.text-body {
    max-width: $max-text-width;
    line-height: 1.4;

    // a {
    //     // color: $default-text-color;
    //     text-decoration: none;
    // }

    li {
        line-height: 1.4;
        padding-bottom: 0.2em;
    }
}

.text-tiny {
    font-size: 0.8em;
    color: $text-muted;
}

.position-fixed {
    position: fixed;
    // overflow-y: scroll;
    // max-height: 100%;
}

.article-image {
    margin-bottom: 1em;
}

.img-caption {
    color: $text-muted;
    font-size: 0.9em;
    margin-top: 0.4em;
}

.img-right {
    float: right;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.img-left {
    float: left;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

// youtube embeds full-width:
.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// modals
.modal-wide {
    width: 80%;
    max-width: 80%;
}

.modal-header {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0.6em;
}



// entity tables
.type-date {
    width: 6em;
}

.type-country,
.type-identifier {
    width: 6em;
}

.contains-inner-table {
    padding-top: 0.25rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.inner-table {
    margin: 0;

    tr:last-child td,
    tr:last-child th {
        border-bottom: 0px !important;
    }
}