@import './variables.scss';
@import "~bootstrap/scss/badge";

.logo {
    margin-right: 2em;
    margin-top: 0.5em;
    max-width: 17em;

    @media (min-width: map-get($grid-breakpoints, md)) {
        float: right;
    }
}

.search {
    input[type=search] {
        border: 0;
    }
}

.stats {
    margin-top: 1em;

    a {
        color: white;
        text-decoration: underline;
    }

    :global {
        .badge {
            color: white;
            background-color: shift-color($primary, $link-shade-percentage) !important;
        }
    }
}

.commercialBanner {
    background-color: $blue-200;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;

    :global {

        h2,
        p {
            color: $blue-700;
            margin-bottom: 1em;
        }
    }
}