@import './variables.scss';
@import "~bootstrap/scss/mixins/_breakpoints";


.navSearchBox {
    @include media-breakpoint-up(md) {
        width: 20em !important;
    }
}

.navItem {
    font-family: $font-family-heading;
    // font-size: 1.1em;
    font-weight: 600;
    color: $theme-blue-logo;
}