@import './variables.scss';
@import "~bootstrap/scss/mixins/_breakpoints";

.navBar {
    // &.bg-light {
    //     background-color: $white  !important;
    // }

    background-color: $white  !important;
}

.navSearchBox {
    @include media-breakpoint-up(md) {
        width: 20em !important;
    }
}

.navItem {
    font-family: $font-family-heading;

    padding-left: $spacer * 2 !important;
    //padding-right: $spacer * 1 !important;

    // margin-top: -0.5 * $spacer;
    // margin-bottom: -0.5 * $spacer;

    // font-size: 1.1em;
    font-weight: 600;
    color: $theme-blue-logo;
    letter-spacing: 0.01rem;

    // &:hover {
    //     background-color: $theme-blue-bg-light;
    // }
}