@import './variables.scss';
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/mixins/_breakpoints";

.navBar {
    @media print {
        // margin-top: 3em;
        margin-bottom: 1em;
    }
}

.navSearchBox {
    @include media-breakpoint-up(md) {
        width: 20em !important;
    }
}

.navToggle {
    @media print {
        display: none;
    }
}

.navItem {
    @extend .nav-link;
    font-family: $font-family-heading;
    padding-left: $spacer * 2 !important;
    //padding-right: $spacer * 1 !important;

    margin-top: 0.5 * $spacer;
    margin-bottom: 0.5 * $spacer;

    // font-size: 1.1em;
    font-weight: 600;
    color: $theme-blue-logo;
    letter-spacing: 0.01rem;

    // &:hover {
    //     background-color: $theme-blue-bg-light;
    // }
}