@import './variables.scss';

.licenseBox {
    :global {
        .alert {
            margin-top: 1em;
            background-color: $blue-600;

            p {
                color: $white;
            }

        }
    }
}