@import "./variables.scss";

.summary {
    font-size: 1.2em;
    // margin-top: 1em;
    font-weight: 400;
    margin-bottom: 1em;
    color: $text-muted;
    max-width: $max-text-width;
}

.jsonLink {
    float: right;
}

.helpLink {
    display: inline-block;
    padding-left: 0.1em;
}

.spinner {
    width: 100%;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}

.spacer {
    font-weight: bolder;
    // color: $text-muted;
}

.formattedDate {
    white-space: nowrap;
}